
{% extends "layout.html" %}
{% block body %}
<html>
    <head> <link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css">
        <script src="/path/to/less.js"></script>
    	<title>Tipsy</title></head>
    <body>
        <h1>You've logged in.</h1>
        <h2></h2>
        <div class="container">
            <i class="icon-road"></i>
        <p>aaaaaaaa</p>
    </br>
    <p>asdlasdfasdfsadfasdfsadfsdf</p>
     </br>
    <p>asdlasdfasdfsadfasdfsadfsdf</p>
     </br>
    <p>asdlasdfasdfsadfasdfsadfsdf</p>
     </br>
    <p>asdlasdfasdfsadfasdfsadfsdf</p>
</div>
   <!--      <ul>
        {% for task in tasks %}
        <li>Task {{ task['id'] }}: {{ task['title'] }}</li>
        {% endfor %}
        </ul> -->
    </body>
</html>
{% endblock %}